.emptyC{
  /* position: relative; */
  max-width: 650px;
  height: 600px;
  /* background-color: red; */
  margin: 24px auto;
  padding: 100px 0;
}
.emptyCsubcontainer{
  height: 400px;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptyImg{
  height: 150px;
  width: 150px;
}
.subtitle{
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0 0 0; 
}
.Add-btnn{
  color: rgb(255, 63, 108);
  border:1px solid rgb(255, 63, 108);
  font-size: 12px;
  font-weight: 700;
  padding:10px;
}
