.PContainer{
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginBox{
  /* width: 600px; */
  /* min-width: 400px;  */
  /* max-width: 90%; */
  border: 1px solid #d4d4d4;
  padding: 20px 15px;
  border-radius: 10px;
  flex: 0 1 600px;
}
.TitleL{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 15px 0;
  color: #ff3f6c;
}
.LabelC{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  margin: 10px 0px;
}
.Label{
  position: absolute;
  padding: 0px 5px;
  font-weight: 600;
  font-size: 14px;
  color: #7e7e7e;
  transition: 0.25s;
}
.LabelC > input{
  all: unset;
}
.LabelC:hover .Label,
.LabelC:focus-within .Label {
  top: -30%;
  left: 5%;
  font-size: 12px;
  color: #ff3f6c;
  background-color: white;
}
.LabelC:hover , .LabelC:focus-within{
  border: 2px solid #ff3f6c;
}
.SignIn{
  all: unset;
  width: 98%;
  color: #FFF;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px;
  text-align: center;
  background-color: #ff3f6c;
  display: block;
}
.accountS{
  margin: 15px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.accountS span {
  color: #ff3f6c;
  font-weight: 600;
}


/* CSS of Personal Info  */
.PerInfo{
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 30%;
  position: absolute;
  top: 0;
  right: 0;
}

.Pbox{
  background-color: #fff;
  height: 100%;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}

.logout{
  all: unset;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 2px;
  text-align: center;
  background-color: #ff3f6c;
  color: #fff;
}
.user{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #424040;
  margin-bottom: 30px;
}

.infor{
  color: #726d6d;
}